<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<!-- Title Header -->
<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<!-- Fav icon stuff -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" /> -->
<noscript>
    <link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" />
</noscript>

<!-- ======================================================================= -->
<!--                          DYN: JQUERY INCLUDES                           -->
<!-- ======================================================================= -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>


<!-- ======================================================================= -->
<!--                       3RD PARTY LIBRARY INCLUDES                        -->
<!-- ======================================================================= -->

<!-- ================== Site Includes (from _config.yml) =================== -->
{% for css_include in site.css_includes -%}
{%- if css_include -%}
{%- capture href_eval -%} {{- css_include -}} {%- endcapture -%}
<link rel="stylesheet" href="{{ href_eval }}" />
{%- endif -%}
{%- endfor %}

<!-- =============== Page css_includes (from Page Front Matter) ================ -->
{% for css_include in page.css_includes -%}
{%- if css_include -%}
{%- capture href_eval -%} {{- css_include -}} {%- endcapture -%}
<link rel="stylesheet" href="{{ href_eval }}" />
{%- endif -%}
{%- endfor %}

<!-- =========================== Gmaps Includes ============================ -->
<!-- {\% if page.use_gmap or page.gmap -%}
<script src="{\{- "/assets/js/gmap.js" | absolute_url -}}"></script>
{\%- endif -%} -->


<script src="{{- "/assets/js/citations.min.js" | absolute_url -}}s" type="text/javascript"></script>