

<!-- Build a sorted array (sorted by date then title) -->
{% for entry in site.data.education -%}
<!-- <p>{{entry[0]}}</p> -->
<div class="collapsible-edu-entry">
   <div class="collapsible-edu-btn" id="collapsible-edu-btn-{{- entry[0] -}}"
      onClick="collapsible_edu_btn_onClick('{{- entry[0] -}}')">
      <h3 class="collapsible-edu-title">
         {% if entry[1].icon %}
         {%- capture icon_href -%} {{- entry[1].icon -}} {%- endcapture -%}
         <img src="{{- icon_href -}}" />
         {% endif %}
         <!-- <svg viewBox="-1 0 17 16" class="gs_or_svg"><path d="M1.5 3.5v5h2v.375L1.75 12.5h3L6.5 8.875V3.5zM9.5 3.5v5h2v.375L9.75 12.5h3L14.5 8.875V3.5z"></path></svg>  -->
         {{ entry[1].title | strip_html | smartify }}
      </h3>
      <p class="collapsible-edu-authors"> {{ entry[1].author | strip_html }} </p>
   </div>
   <div class="collapsible-edu-content" id="collapsible-edu-content-{{- entry[0] -}}">
      {% if entry[1].note %}
      <div class="collapsible-edu-note">
         <h4>note</h4>
         <p>{{- entry[1].note | markdownify | strip_html -}}</p>
      </div>
      {% endif %}
      {% if entry[1].abstract %}
      <div class="collapsible-edu-abstract">
         <h4>about</h4>
         {%- capture abstract_value -%} {{- entry[1].abstract -}} {%- endcapture -%}
         {{- abstract_value | markdownify | smartify -}}
      </div>
      {% endif %}
      <!-- {% if entry[1].cite_key -%}
      {\% bibliography -q entry[1].cite_key %}
      {%- endif %} -->
      <div class="collapsible-edu-footer">
         <p>Go to resource: <a class="icon fa-globe" href="{{- entry[1].url -}}">&nbsp; {{- entry[1].url | remove: 'https://www.' | remove: 'https://' | remove: 'http://www.' | remove: 'http://' -}} </a></p>
      </div>
      {%- assign page_url = page.url | append: entry[0] -%}
        {%- assign page_url_1 = page_url | append: '/' -%}
        {%- assign page_url_2 = page_url | append: '.html' -%}
        {%- assign result = site.pages | where_exp: 'page', " page.url == page_url" | size -%}
        {%- assign result_1 = site.pages | where_exp: 'page', " page.url == page_url_1" | size -%}
        {%- assign result_2 = site.pages | where_exp: 'page', " page.url == page_url_2" | size -%}
          {% if result > 0 or result_1 > 0 or result_2 > 0 -%}
          <div id="collapsible-edu-readMore-{{-entry[0]-}}" style="margin-bottom: 8pt; padding-bottom: 8pt;">
            <a href="{{- '/education/' | append: entry[0] | append: '.html' | absolute_url -}}"
              id="collapsible-edu-readMore-{{-entry[0]-}}-a">More Info...</a>
          </div>
        {%- endif %}
   </div>
</div>
{% endfor %}