<footer id="footer">
  <!-- <section>
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>
    <section>
      <h3>Phone</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section> -->
  <section>
    <h3>Links</h3>
    <ul class="icons alt">
      {% if site.links.docs %}
      <li><a href="{{- site.links.docs -}}" class="icon fa-book" rel="nofollow"><span
            class="label">documentation</span></a></li>
      {%- endif %}
      {% if site.links.email %}
      <li><a href="mailto://{{- site.links.email -}}" class="icon fa-envelope" rel="nofollow"><span
            class="label">email</span></a></li>
      {%- endif %}
      {% if site.links.website %}
      <li><a href="{{- site.links.website -}}" class="icon fa-globe" rel="nofollow"><span
            class="label">website</span></a></li>
      {%- endif %}
      {% if site.links.github %}
      <li><a href="https://github.com/{{- site.links.github -}}" class="icon fa-github" rel="nofollow"><span
            class="label">GitHub</span></a></li>
      {%- endif %}
      {% if site.links.gitlab_url %}
      <li><a href="{{- site.links.gitlab_url -}}" class="icon fa-gitlab" rel="nofollow"><span
        class="label">GitLab</span></a></li>
      {% elsif site.links.gitlab %}
        <li><a href="https://gitlab.com/{{- site.links.gitlab -}}" class="icon fa-gitlab" rel="nofollow"><span
          class="label">GitLab</span></a></li>
      {%- else -%}
      {%- endif %}
      {% if site.links.bitbucket %}
        <li><a href="https://bitbucket.com/{{- site.links.bitbucket -}}" class="icon fa-bitbucket" rel="nofollow"><span
              class="label">bitbucket</span></a></li>
      {%- endif %}
      {% if site.links.repo %}
        <li><a href="{{- site.links.repo -}}" class="icon fa-code" rel="nofollow"><span
              class="label">project repo</span></a></li>
      {%- endif %}
      {% if site.links.forum %}
      <li><a href="{{- site.links.forum -}}" class="icon fa-comments"
          rel="nofollow"><span class="label">Forum</span></a></li>
      {%- endif %}
      {% if site.links.reddit %}
      <li><a href="https://reddit.com/{{- site.links.reddit -}}" class="icon fa-reddit"
          rel="nofollow"><span class="label">Twitter</span></a></li>
      {%- endif %}
      {% if site.links.youtube %}
      <li><a href="{{- site.links.youtube -}}" class="icon fa-youtube"
          rel="nofollow"><span class="label">YouTube</span></a></li>
      {%- endif %}
      {% if site.links.vimeo %}
      <li><a href="https://vimeo.com/channels/{{- site.links.vimeo -}}" class="icon fa-vimeo"
          rel="nofollow"><span class="label">YouTube</span></a></li>
      {%- endif %}
      {% if site.links.twitter %}
      <li><a href="https://twitter.com/{{- site.links.twitter -}}" class="icon fa-twitter"
          rel="nofollow"><span class="label">Twitter</span></a></li>
      {%- endif %}
      {% if site.links.tiktok %}
      <li><a href="{{- site.links.tiktok -}}" class="icon fa-tiktok"
          rel="nofollow"><span class="label">tiktok</span></a></li>
      {%- endif %}
      {% if site.links.instagram %}
      <li><a href="https://instagram.com/{{- site.links.instagram -}}" class="icon fa-instagram"
          rel="nofollow"><span class="label">Instagram</span></a></li>
      {%- endif %}
      {% if site.links.facebook %}
      <li><a href="https://facebook.com/{{- site.links.facebook -}}" class="icon fa-facebook"
          rel="nofollow"><span class="label">Facebook</span></a></li>
      {%- endif %}
    </ul>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li>
    <li>Design by <a href="https://html5up.net" rel="nofollow">HTML5 UP</a></li>
    <li>Jekyll Adaptation by <a href="https://soundgrail.com">SoundGrail</a></li>
    <li>Dynamic Template by <a href="https://osterhoutan.dev">osterhoutan</a></li>
    <!-- <li>Content by <a href="{{ '/people/' | absolute_url }}">us</a></li> -->
    <!-- <li>
      Our <a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow">&nbsp; GitHub</a>
    </li> -->
  </ul>
</div>