<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}"><img src="{{ "/images/CPULogo.png" | absolute_url }}" alt="Home"></a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/people/' %} active {% endif %}"><a href="{{ "/people/" | absolute_url }}">People</a></li>
  <li class="{% if page.url contains '/software/' %} active {% endif %}"><a href="{{ "/software/" | absolute_url }}">Software</a></li>
  <li class="{% if page.url contains '/publications/' %} active {% endif %}"><a href="{{ "/publications/" | absolute_url }}">Publications</a></li>
  <li class="{% if page.url contains '/education/' %} active {% endif %}"><a href="{{ "/education/" | absolute_url }}">Education/Talks</a></li>
  <li class="{% if page.url contains '/contact/' %} active {% endif %}"><a href="{{ "/contact/" | absolute_url }}">Contact</a></li>
</ul>
