---
---

<!-- Citation button svg (") -->
<!-- <svg viewBox="-1 0 17 16" class="gs_or_svg"><path d="M1.5 3.5v5h2v.375L1.75 12.5h3L6.5 8.875V3.5zM9.5 3.5v5h2v.375L9.75 12.5h3L14.5 8.875V3.5z"></path></svg> -->


<style type="text/css">
    /* COLLAPSIBLE ITEM STUFF */

    /* Style the button that is used to open and close the collapsible content */
    .collapsible-bib-btn {
        background-color: #4B6C86;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .collapsible-bib-btn:hover {
        background-color: #ccc;
    }

    .collapsible-bib-active {
        background-color: #204765;
    }

    /* Style the collapsible content. Note: hidden by default */
    .collapsible-bib-content {
        padding: 0 18px;
        display: none;
        overflow: hidden;
        background-color: #5d7a9151;
        color: black;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    /* Add icon  */
    .collapsible-bib-btn:after {
        content: url({{ "/images/cite.svg" | absolute_url }});
        color: white;
        float: right;
        margin-left: 5px;
        fill: none;
        -webkit-transition: -webkit-transform 1s ease-in-out;
        -ms-transition: -ms-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
    }

    .collapsible-bib-active:after,
    .collapsible-bib-btn:hover:after {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    div.collapsible-bib-bibtex {
        padding: 6pt 2pt 2pt 2pt;
        margin: 0pt;
    }
    div.collapsible-bib-bibtex > pre {
        border: 1px #204765;
        padding: 2pt;
        margin: 2pt;
        background-color: #f7e99cb6;
        overflow-x: auto;
    }
    div.collapsible-bib-reference {
        padding-top: 6pt;
    }

    /* TABLE STUFF */
    /* .tg-bib {
        border: none;
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    .tg-bib td {
        border-style: solid;
        border-width: 0px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    
    .tg-bib th {
        border-style: solid;
        border-width: 0px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        font-weight: normal;
        overflow: hidden;
        padding: 10px 5px;
        word-break: normal;
    }
    
    .tg-bib .tg-bib-wp8o {
        border-color: #000000;
        text-align: center;
        vertical-align: top
    }
    
    .tg-bib .tg-bib-lqy6 {
        text-align: right;
        vertical-align: top
    }
    
    .tg-bib .tg-bib-0lax {
        text-align: left;
        vertical-align: top
    } */

    /* SVG STUFF */

    /* Basic Template for styling the SVG cite symbol */
    /* .gs_or_svg {
        position: relative;
        width: 29px;
        height: 16px;
        vertical-align: text-bottom;
        fill: none;
        stroke: #1a0dab;
    } */
</style>

<!-- <div class="collapsible-bib-entry collapsible-bib-entry-year-{{entry.year | strip}}"> -->

<!-- This is a generated entry for a publication citation -->
<div class="collapsible-bib-entry">
    <div class="collapsible-bib-btn" id="collapsible-bib-btn-{{key}}" onClick="collapsible_bib_btn_onClick('{{key}}')">
        <h3 class="collapsible-bib-title"> {{ entry.title }} </h3>
        <p class="collapsible-bib-authors"> {{ entry.author }} </p>
    </div>
    <div class="collapsible-bib-content" id="collapsible-bib-content-{{key}}">
        {% if entry.abstract %}
        <div class="collapsible-bib-abstract">
            <h4><i>abstract</i></h4>
            <p>{{ entry.abstract }}</p>
        </div>
        {% endif %}
        <div class="collapsible-bib-reference">
            {{ reference }}
        </div>
        <div class="collapsible-bib-bibtex">
            <pre>{{ entry.bibtex }}</pre>
        </div>
    </div>
</div>
<!-- div.collapsible-bib-bibtex > pre -->
<!-- <button type="button" class="collapsible-bib-btn">
    <h3> {{ entry.title }} </h3>
    <p>&emsp;<i> {{ entry.author }} </i></p>
</button>
<div class="collapsible-bib-content">
    {% if entry.abstract %}
    <div class="collapsible-bib-abstract">
        <h4><i>abstract</i></h4>
        <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
    <div class="collapsible-bib-reference">
        <p> {{ reference }} </p>
    </div>
    <div class="collapsible-bib-bibtex">
        <pre>{{ entry.bibtex }}</pre>
    </div>
</div> -->


<!-- !! THIS MUST BE INCLUDED IN ANY FILE THAT CALLS `{{ bibliography }}` !! -->
<script type="text/javascript">
    // - Add pertinent css ----
    var styles = `
    /* COLLAPSIBLE ITEM STUFF */

    .collapsible-bib-entry {
        margin-bottom: 8px;
    }

    /* Style the button that is used to open and close the collapsible content */
    .collapsible-bib-btn {
        background-color: #4B6C86;
        color: white;
        cursor: pointer;
        padding: 8px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
    }

    .collapsible-bib-authors {
        font-style: italic;
        font-size: 10pt;
        text-transform: capitalize;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .collapsible-bib-title {
        font-size: 12pt;
        overflow-wrap: break-word;
        text-transform: capitalize;
        color: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .collapsible-bib-btn:hover {
        background-color: #ccc;
    }

    .collapsible-bib-active {
        background-color: #204765;
    }

    /* Style the collapsible content. Note: hidden by default */
    .collapsible-bib-content {
        padding: 0 8px;
        display: none;
        overflow: hidden;
        background-color: #5d7a9151;
        color: black;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    /* Add icon  */
    .collapsible-bib-btn:after {
        content: url({{ "/images/cite.svg" | absolute_url }});
        color: white;
        float: right;
        margin-left: 5px;
        fill: none;
        -webkit-transition: -webkit-transform 1s ease-in-out;
        -ms-transition: -ms-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
    }

    .collapsible-bib-active:after,
    .collapsible-bib-btn:hover:after {
        transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }

    .collapsible-bib-active {
        fill: white;
    }
    `
    var styleSheet = document.createElement("style")
    styleSheet.type = "text/css"
    styleSheet.innerText = styles
    document.head.appendChild(styleSheet)


    // // - Extract Bib entries from list ----
    // var genDiv = document.getElementById("collapsible-bib-gen");
    // var outDiv = document.getElementById("collapsible-bib");
    // var all_entries = document.getElementsByClassName("collapsible-bib");
    // var headerElements = genDiv.getElementsByTagName("h2");

    // var headers = [];
    // for (var elem of headerElements) {
    //     headers.push(elem.textContent);
    // }
    // years.sort();

    // for (var y of years) {
    //     var year_entries = all_entries.getElementsByClassName("collapsible-bib-entry-year-"+y);
    //     var secDiv = document.createElement("div");
    //     secDiv.id = "collapsible-bib-section-year-"+y;
    //     secDiv.classList.push("collapsible-bib-section");
    //     outDiv.children.appendChild(secDiv);
    //     var secHeader = document.createElement("h2");
    //     secHeader.textContent = y;
    //     outDiv.children.appendChild(secHeader);
    //     for (var e of year_entries) {
    //         outDiv.children.appendChild(e);
    //     }
    // }
    // genDiv.innerHTML = '';


    // - Modify all pertinent collapsible elements ----
    // var coll = document.getElementsByClassName("collapsible-bib-btn");
    // var i;
    //
    // for (i = 0; i < coll.length; i++) {
    //     coll[i].addEventListener("click", function () {
    //         this.classList.toggle("collapsible-bib-active");
    //         var content = this.nextElementSibling;
    //         if (content.style.maxHeight) {
    //             content.style.maxHeight = null;
    //         } else {
    //             content.style.maxHeight = content.scrollHeight + "px";
    //         }
    //     });
    // }

    function collapsible_bib_btn_onClick(key) {
        var btn = document.getElementById("collapsible-bib-btn-" + key);
        btn.classList.toggle("collapsible-bib-active");
        // var content = btn.nextElementSibling;
        var content = document.getElementById("collapsible-bib-content-" + key);
        if (content.style.display === "block") {
            content.style.display = "none";
        } else {
            content.style.display = "block";
        }
        // if (content.style.maxHeight) {
        //     content.style.maxHeight = null;
        // } else {
        //     content.style.maxHeight = content.scrollHeight + "px";
        // }
    }
</script>

<!-- TABLE STUFF (DISCARDED) -->
<!-- <table class="tg-bib">
        <thead>
            <tr>
                <th class="tg-bib-lqy6">{{entry.year}}</th>
                <th class="tg-bib-wp8o">{{entry.title}}</th>
                <th class="tg-bib-0lax">{{entry.author}}</th>
            </tr>
        </thead>
    </table> -->