---
---


<!-- This is a generated entry for a publication citation -->
<div class="collapsible-bib-entry collapsible-bib-entry-year-{{entry.year | strip}}">
    <button type="button" class="collapsible-bib-btn">
        <span class="collapsible-bib-title"> {{ entry.title }} </span> <br />
        <span class="collapsible-bib-authors"> {{ entry.author }} </span> 
    </button>
    <div class="collapsible-bib-content">
        {% if entry.abstract %}
        <div class="collapsible-bib-abstract">
            <h4><i>abstract</i></h4>
            <p>{{ entry.abstract }}</p>
        </div>
        {% endif %}
        <div class="collapsible-bib-reference">
            <p> {{ reference }} </p>
        </div>
        <div class="collapsible-bib-bibtex">
            <pre>{{ entry.bibtex }}</pre>
        </div>
    </div>
</div>