---
---


<!-- This is a generated entry for a publication citation -->
<div class="collapsible-bib-entry">
    <div class="collapsible-bib-btn">
        <h3 class="collapsible-bib-title"> {{ entry.title }} </h3>
        <p class="collapsible-bib-authors"> {{ entry.author }} </p> 
    </div>
    <div class="collapsible-bib-content">
        {% if entry.abstract %}
        <div class="collapsible-bib-abstract">
            <h4><i>abstract</i></h4>
            <p>{{ entry.abstract }}</p>
        </div>
        {% endif %}
        <div class="collapsible-bib-reference">
            {{ reference }}
        </div>
        <div class="collapsible-bib-bibtex">
            <pre>{{ entry.bibtex }}</pre>
        </div>
    </div>
</div>