---
layout: page
title: Education/Talks

---

<!-- Build a sorted array (sorted by date then title) -->
{% for entry in site.data.education -%}
<!-- <p>{{entry[0]}}</p> -->
<div class="collapsible-edu-entry">
   <div class="collapsible-edu-btn" 
           id="collapsible-edu-btn-{{- entry[0] -}}" 
           onClick="collapsible_edu_btn_onClick('{{- entry[0] -}}')">
       <h3 class="collapsible-edu-title">
         {% if entry[1].icon %}
         {%- capture icon_href -%} {{- entry[1].icon -}} {%- endcapture -%}
         <img src="{{- icon_href -}}" />
         {% endif %}
         <!-- <svg viewBox="-1 0 17 16" class="gs_or_svg"><path d="M1.5 3.5v5h2v.375L1.75 12.5h3L6.5 8.875V3.5zM9.5 3.5v5h2v.375L9.75 12.5h3L14.5 8.875V3.5z"></path></svg>  -->
         {{ entry[1].title | strip_html | smartify }}
      </h3>
      <p class="collapsible-edu-authors"> {{ entry[1].author | strip_html }} </p>
   </div>
   <div class="collapsible-edu-content" id="collapsible-edu-content-{{- entry[0] -}}">
      {% if entry[1].note %}
      <div class="collapsible-edu-note">
         <h4>note</h4>
         <p>{{- entry[1].note | markdownify | strip_html -}}</p>
      </div>
      {% endif %}
      {% if entry[1].abstract %}
      <div class="collapsible-edu-abstract">
         <h4>about</h4>
         {%- capture abstract_value -%} {{- entry[1].abstract -}} {%- endcapture -%}
         {{- abstract_value | markdownify | smartify -}}
      </div>
      {% endif %}
      <!-- {% if entry[1].cite_key -%}
      {\% bibliography -q entry[1].cite_key %}
      {%- endif %} -->
      <div class="collapsible-edu-footer">
         <p>Go to resource: <a href="{{- entry[1].url -}}"> {{- entry[1].url -}} </a></p>
      </div>
   </div>
</div>
<!-- <div class="panel-group collapse-edu">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
         <a data-toggle="collapse" href="collapse-edu-{{- entry[0] -}}">
            {{ entry[1].title | markdownify | strip_html }}
         </a>
      </h3>
      <p class="panel-subtitle"> 
         {{ entry[1].author | markdownify | strip_html }}
      </p>
    </div>
    <div id="collapse-edu-{{- entry[0] -}}" class="panel-collapse collapse">
      <div class="panel-body">
         {% if entry[1].note -%}
         <div class="subsection-note">
            <h4>note</h4>
            <p>{{- entry[1].note | markdownify | strip_html -}}</p>
         </div>
         {%- endif %}
         <p class="info-date">{{- entry[1].date -}}</p>
         {% if entry[1].abstract -%}
         <div class="panel-subsection abstract">
            <h4 class="subsection-title">
               about
            </h4>
            <div class="subsection-body">
               {%- capture abstract_value -%} {{- entry[1].abstract -}} {%- endcapture -%}
               <p>{{- abstract_value | markdownify -}}</p>
            </div>
         </div>
         {%- endif %}
         {% if entry[1].cite_key -%}
         <div class="panel-subsection bibliography">
            {\% bibliography -q entry[1].cite_key %}
         </div>
         {%- endif %}
      </div>
      {% if entry[1].url -%}
      <div class="panel-footer">
         
      </div>
      {%- endif %}
    </div>
  </div>
</div> -->
{% endfor %}